.sticky {
	display: block;
}

.post,
.page {
	margin: 0;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.blog-page-posts p {
	padding: 0 1rem;
	max-width: 40rem;
	margin: 0 auto;
	text-align: left;
}

.blog-single-post {
	img {
		height: auto;
    	width: 45rem;
	}

	p {
		max-width: 48rem;
		margin: 0 auto;
		text-align: left;
	}

	.nav-title {
		color: #8A0000;
		font-style: italic;
		font-size: larger;
		font-family: fantasy;

		&:hover { 
			color: #c80000;
		}
	}

	.entry-content {
		width: 95%;
		margin: 0 auto 2rem;

		@media screen and (min-width: 37.5em) {
			width: 95%;
		}

		p{
			text-align: left;
		}
	}

	.comment-respond {
		textarea,
		input {
			text-align: left;
		}

	}
}

.instagram {
	width: 80%;
	margin: 0 auto;
}

nav.woocommerce-MyAccount-navigation {
	margin: 4rem 0;
	ul{
		max-width: 55rem;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 0;
		margin: 0 auto;
		li {
			list-style: none;
			margin: 0.2rem;
			padding: 0.5rem;
			font-weight: 500;
			border: 2px solid #8A0000;
			border-radius: 5px;
			transition: 0.2s ease-in-out;
			&:hover {
				a {
					color: white;
				}
				background-color: #8A0000;
			}
		}
	}
}

div.product-container {
	margin-top: 4rem;
}
