.sticky {
	display: block;
}

.post,
.page {
	margin: 0;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.blog-page-posts p{
	padding-left: 30%;
	padding-right: 30%;
	margin: 0 auto;
	text-align: left;
}

.blog-single-post {
	img {
		height: auto;
    	max-width: 50%;
	}

	p {
		padding-left: 15%;
		padding-right: 15%;
		text-align: left;
	}

	.nav-title {
		color: green;
		font-style: italic;
		font-size: larger;
		font-family: fantasy;
	}

	.entry-content {
		width: 90%;
		margin: 0 auto;

		@media screen and (min-width: 37.5em) {
			width: 75%;
		}

		p{
			text-align: left;
		}
	}

	.comment-respond {
		textarea,
		input {
			text-align: left;
		}

	}
}
