button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

.fithub-team {
	button {
	  border: none;
	  margin-bottom: 5px;
	  padding: 0 15px;
	  cursor: pointer;
	  border-radius: 10px; // Updated border-radius
	  transition: background-color 0.3s ease;
  
	  &:hover {
		background-color: darken(#1E1E1E, 10%); // Darken the color on hover
	  }
  
	  &:active {
		transform: translateY(2px); // Add a slight vertical shift when pressed
	  }
  
	  // Additional styling based on your design preferences
	  background-color: #1E1E1E;
	  color: white;
	  font-size: 14px;
	}
}
  
  