.site {
	display: grid;
	grid-template-columns: auto;
	grid-template-areas:
		"header"
		"main"
		"footer";

	.site-footer {
		display: flex;
		width: 100%;
		flex-direction: column;
		padding-bottom: 70px;
		align-items: center;

		.map-location {
			width: 100%;
		}

		.icon-contact {
			margin: 15px 0px;

			a {
				&:hover > svg {
					fill: red;
				}
			}
		}
	}
}

@media screen and (min-width: 37.5em) {

	.site {
		.site-footer {
			padding-bottom: 10px;
		}
	}
}