.site {
	display: grid;
	grid-template-columns: auto;
	grid-template-areas:
		"header"
		"main"
		"footer";

	.site-footer {
		display: flex;
		width: 100%;
		flex-direction: column;
		padding-bottom: 50px;
		align-items: center;

		.map-location {
			width: 100%;
		}

		.icon-contact {
			margin: 15px 0px;

			a {

				&:hover > svg {
					
					fill: red;
					
				}
			}
		}
	}
}

.woocommerce-page {
	.site {
		.site-footer {
			padding-bottom: 70px;

			@media screen and (min-width: 37.5em) {
				padding-bottom: 10px;
			}
		}
	}
}

@media screen and (min-width: 37.5em) {

	.site {
		.site-footer {
			padding-bottom: 0px;
		}
	}
}