.site {
	.site-header {
		margin-top: 10px;
	}

	display: grid;
	grid-template-columns: auto;
	grid-template-areas:
		"header"
		"main"
		"footer";

	.site-footer {
		display: flex;
		width: 100%;
		flex-direction: column;
		padding-bottom: 70px;
		align-items: center;

		.map-location {
			width: 100%;
		}

		.icon-contact {
			margin: 15px 0px;
			padding: 0 10px;
			display: flex;
			flex-direction: column;
			align-items: center;

			.icon-contact-container {
				display: flex;
				flex-direction: column;

				a {
					display: flex;
					align-items: center;
	
					&:hover > svg {
						fill: red;
					}

					&:hover {
						color: yellow;
					}
				}

				a,
				svg {
					margin: 0 15px;
				}
			}

		}
	}
}

@media screen and (min-width: 37.5em) {

	.site {
		.site-footer {
			padding-bottom: 10px;
		}
	}
}